.myslides {
    background-image: url("/assets/businessClassbg.jpg");
    background-color: #cccccc;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    padding-top: 170px;
    padding-left: 90px;
    font-size: 40px;
  }
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    left: 0;
    margin: 50px;
    max-width: 430px;
    padding: 50px;
    background-color: grey;
    opacity: 0.8;
    border: 1px solid #ced4da;
  }
  
  /* Full-width input fields */
    input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[list=source]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    height: 20px;
  }
  .from {
    background: white url("/assets/takeoff.png") right no-repeat;
    padding-left: 17px;
    width: 143px;
    height: 30px;
    
  }

  .to {
    background: white url("/assets/land.png") right no-repeat;
    padding-left: 17px;
    width: 143px;
    height: 30px;
  }
  .dates {
    width: 151px;
    display: inline-block;
    padding-right: 60px; 
    height: 30px;
  }
  .select {
    width: 151px;
    display: inline-block;
  }

  .ctz {
    width: 140px;
    display: inline-block;
    padding-right: 68px;
  }
  .flight {
    width: 122px;
    display: inline-block;
    padding-right: 90px;
  }
  input[type=number]{
    width: 140px;
} 
.btn {
    background-color: teal;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 35%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  .intro { 
    background-image:
    linear-gradient(to right, rgba(255, 255, 255, 1), rgba(45, 19, 117, 0)),
    url("/assets/tail2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 100%;
    height: 370px;
    text-align: left;
    font-size: 18px;
   
  }
  .intro-1 { 
    background-image:
    linear-gradient(to left, rgba(255, 255, 255, 2), rgba(111, 19, 93, 0)),
    url("/assets/clean.jpg");
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 50px;
    font-size: 18px;
    width: 100%;
    height: 370px;
  }

  .intro-2 { 
    background-image:
    linear-gradient(to right, rgba(255, 255, 255, 2), rgba(111, 19, 93, 0)),
    url("/assets/t2.jpg");
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 400px;
    font-size: 18px;
    padding-top: 50px;
  }
  .tbl{
    background-color: cornsilk;
  }
  .w3-display-container{position:relative}
  .w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
  .w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
h2{
    text-align: center;
}