<body style="background: -webkit-radial-gradient(rgb(136, 15, 159), rgb(6, 19, 31));  background: radial-gradient(rgb(136, 15, 159), rgb(6, 19, 31)); background:url('./assets/sign.jpg');height:100%; min-height:100%;margin:0;padding:0;">
    <div class="row">
        <div class="main">
            <div class="card">
                <div class="form-box" style='margin-bottom: 10%;'>
                    <div class="form-top">
                        
                            <h3>Welcome to AirFuselage</h3>
                            <p>Enter username and password to log in:</p>
                        
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom" style="color:white;">
                        <form #loginForm ='ngForm' (ngSubmit)="loginAdmin(loginForm)" method="POST">
                            <div class="containerb">
                                <label for="uname"><b>Username</b></label>
                                <input type="text" placeholder="Enter Username" name="uname" [(ngModel)] = adminlogin.email required  />
                                <span id="userSpan" style="color: red;"></span><br />
    
                                <label for="psw"><b>Password</b></label>
                                <input type="password" placeholder="Enter Password" name="psw" [(ngModel)] = adminlogin.password required/>
                                <span id="pswSpan" style="color: red;"></span><br />
                                <button class="buttonb" [disabled]='loginForm.invalid' type="submit">Login</button>
                                <label>
                                    <input type="checkbox" checked="checked" name="remember" /> Remember
                                    me
                                </label>
                            </div>
    
                            <div class="container1">
                                <button type="button"  class="cancelbtnb">Cancel</button>
                                <span class="psw"> <a href="#">Forgot password?</a></span>
                            </div>
                        </form>
                        <h2>{{ status?.message }}</h2>
                        <h2>{{ status?.userId }}</h2>
                        <h2>{{ status?.userName }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>